<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Alterar Usuário - <small>{{ user.name }}</small></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button [routerLink]="['/dashboard/usuarios/']" routerLinkActive="router-link-active" type="button"
            class="btn btn-sm btn-outline-info">
            Voltar
        </button>
    </div>
</div>
<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="card">
        <div class="card-body" (submit)="editUser()">
            <form [formGroup]="editForm">
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3>Opa! Alguma coisa não deu certo :(</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Nome" formControlName="name"
                            [ngClass]="{'is-invalid': displayMessage.name }" />
                        <span class="text-danger" *ngIf="displayMessage.name">
                            <p [innerHTML]="displayMessage.name"></p>
                        </span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Email"
                            formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                        <span class="text-danger" *ngIf="displayMessage.email">
                            <p [innerHTML]="displayMessage.email"></p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" [disabled]="!editForm.valid" value="Salvar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" [routerLink]="['/dashboard/usuarios']">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Atualizar Grupos do Usuário</h1>
</div>
<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="groups">Grupos</label>
                    <ng-select class="" [items]="groups$ | async" [multiple]="true" [closeOnSelect]="false"
                        bindLabel="name" [(ngModel)]="selectedRoles">
                    </ng-select>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="updateGroups()">Atualizar</button>
            </div>
        </div>
    </div>
</div>