<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Alterar Grupo de Usuário - <small>{{ role.name }}</small></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button [routerLink]="['/dashboard/grupos-de-usuario/']" routerLinkActive="router-link-active"  type="button" class="btn btn-sm btn-outline-info">
            Voltar
        </button>
    </div>
</div>
<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="card">
        <div class="card-body" (submit)="saveRole()">
            <form [formGroup]="roleForm" >
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" placeholder=""
                            aria-label="Nome" id="name" formControlName="name" 
                            [ngClass]="{'is-invalid': displayMessage.name }"/>
                        <span class="text-danger" *ngIf="displayMessage.name">
                            <p [innerHTML]="displayMessage.name"></p>
                        </span>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="description">Descrição</label>
                        <textarea type="text" class="form-control" placeholder=""
                                [ngClass]="{'is-invalid': displayMessage.description }"
                                aria-label="Descrição" id="description" formControlName="description"></textarea>
                        <span class="text-danger" *ngIf="displayMessage.description">
                            <p [innerHTML]="displayMessage.description"></p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" [disabled]="!roleForm.valid" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" [routerLink]="['/dashboard/grupos-de-usuario']">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>